// Variables
$color-primary: #008055;
$color-secondary: #ffffff;
$color-terciary: #E5E5E5;
$color-quaternary: #000;
$color-text: #414141;
$color-button: #ffffff;
$font-primary: "Arial", sans-serif;
$spacing-lg: 4rem;
$spacing-md: 2rem;
$spacing-sm: 1rem;
$border-radius: 12px;
$header-height: 72px;
$header-height-mobile: 64px;
$hero-height-mobile: 580px;
$spacing-mobile: 40px;
$spacing-mobile-large: 133.53px;